<!doctype html>
<html>
<head>
	<!--Background setting of WTW-Computer website -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Agoda</title>
	<link rel="icon" href="img/wtw_psf_1.ico">
	
	<!--For connecting the css & javascript -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!--For setting the background -->
	<style>
		body{
			background-color: #e0e0eb
		}
		/* Style the footer */
		footer {
  			background-color: #777;
  			padding: 10px;
  			text-align: center;
  			color: white;
		}
	</style>
	
	<!-- Setting up for using jQuery-->

</head>

<body>
	<nav class="navbar sticky-top navbar-expand-sm navbar-dark" style="background-color: #f0f0f5">
	<a class="navbar-brand" style="color:#3399ff" herf="#"><img src="static/image/agoda-logo.png" title="Agoda" alt="Agoda" height="42">

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headNavbar">
    <span class="navbar-toggler-icon"></span>
  	</button>



  	 <div class="start-page" style="background-image: url('static/image/agoda-bg.png');"> 

 
  	  <form action="https://www.agoda.com/">
  	  	<input type="submit" value="Original Agoda page" />
  	  </form>

  	  <form action="http://localhost:8000/Agoda-platform">
  	  	<input type="submit" value="New Agoda page" />
  	  </form>



 	<footer class="footer">
	  <div class ="container">
		<p class="text-xs-center">All material herein © 2005–2020 Agoda Company Pte. Ltd. All Rights Reserved.</p>
		<p class="text-xs-center">Agoda is part of Booking Holdings Inc., the world leader in online travel & related services.</p>
		
		</div>
	</footer>
</body>
</html>